.header__box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 768px) {
  .header__box {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__box {
    border-bottom: none;
    padding: 0 0 25px 7px;
  }
}
