.popup__title {
	font-weight: 900;
	font-size: 24px;
	margin: 0 0 45px 0;
}

@media screen and (max-width: 320px) {
	.popup__title {
		font-size: 18px;
		margin-bottom: 75px;
		max-width: 238px;
		width: 100%;
	}
}