.popup__close {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	width: 32px;
	height: 32px;
	position: absolute;
	top: -40px;
	right: -39px;
}

.popup__close::before,
.popup__close::after {
	content: "";
	display: block;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 40px;
	height: 4px;
}

.popup__close::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 768px) {
	.popup__close {
		top: -41px;
		right: -7px;
	}

	.popup__close::before,
	.popup__close::after {
		width: 26px;
		height: 3px;
	}
}