.profile__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.profile__inner {
		flex-direction: column;
		text-align: center;
	}
}