.popup__input {
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 0 9px 0;
	display: block;
	font-size: 14px;
	line-height: 1.2;
	width: 100%;
	outline: transparent;
	transition: color 0.3s, border-color 0.3s ease-in-out;
}

.popup__input::placeholder {
	color: #c4c4c4;
	font-size: 14px;
}