.popup__field {
	display: block;
	position: relative;
}

.popup__field:first-child {
	margin-bottom: 40px;
}

.popup__field:last-of-type {
	margin-bottom: 48px;
}

@media screen and (max-width: 320px) {
	.popup__field:last-of-type {
		margin-bottom: 45px;
	}
}